body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height:95vh;
  /* background-image: url("assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

header{
  margin-bottom: 10px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: hsl(189, 96%, 49%);
}
header h1{
  color: white;
  margin: 0;
}
header nav ul{
  list-style: none;
}
header nav ul li{
  display: inline-block;
  margin: 0px 10px;
}
header nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

header nav ul li a:hover{
  
  color: hsl(260, 90%, 37%);
}

button{
  background-color: hsl(189, 96%, 49%);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  width: 90%;
  color: hsl(0, 0%, 100%);
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: hsl(260, 87%, 46%);
}



footer{
  background-color: hsl(189, 96%, 49%);
  padding: 5px 0px;
  margin-top: 10px;
  color: hsl(0, 0%, 100%);
}

.colored-div{
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px hsl(0, 0%, 50%);
  text-align: center;
  align-items: center;
  transition: 0.25s ease;
  padding: 10px;
}


.deleteButton{
  background-color: hwb(13 4% 0%);
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 10%;
  color: hsl(0, 0%, 100%);
  margin: 5px;
  cursor: pointer;
}

.addTaskButton{
  background-color: hsl(117, 100%, 41%);
  padding: 10px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  width: 100px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin: 0;
  margin-left: -1px;
}

.moveButton{
  background-color: hsl(117, 100%, 41%);
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 10%;
  color: hsl(0, 0%, 100%);
  margin: 5px;
  cursor: pointer;
}

.taskList p{
  flex: 1;
}

.taskAppDiv{
  padding: 0px;
}

.taskAppDiv h1{
  text-align: center;
}
.addTask{
  text-align: center;
}
.addTask input{
  padding: 9px;
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  border-radius: 10px 0px 0px 10px;
  width: 20%;
}


.taskList ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px 20px;
  margin: 10px 0px;
  margin-left: -35px;
  border-radius: 5px;
  align-items: center;
}

.taskList ul li:hover{
  background-color: hsl(0, 0%, 90%);
}


/* -------------- clock -----------------*/


.clock{
  height: 95vh;
  text-align: center;
  align-items: center;
}

.clock p{
  position: relative;
  top: 50%;
  backdrop-filter: blur(10px);
  padding: 10px 0px;
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
}

.box{
  border: 3px solid black;
  padding: 25px;
}